# environment
GTN_DEPLOYMENT_MODE="production"
GTN_LOGGING_LEVEL="info"

# to override config.bot.token
GTN_BOT_TOKEN=""
GTN_BOT_SYNC_COMMANDS=false

# to override config.mongo.*
GTN_MONGO_HOST=""
GTN_MONGO_USERNAME=""
GTN_MONGO_PASSWORD=""
GTN_MONGO_DATABASE=""

# docker env vars for exposing ports
METRICS_PORT="8080"
PM2_WEB_PORT="9615"
